/*
    项目负责人：赵强
    项目创建日期:2017.9.11
    最新更新:2017.9.11
    修改人员:赵强
    修改日期:
    修改原因:
    修改代码行数区间:
*/
.main{width: 100%; height: auto; padding-top: 20px; background: #F1F1F1;}
.main .main_top{width: 100%; height: 102px; background: #fff;}
.main .main_top li{width: 20%; font-size: 18px; text-align: center; margin-top: 20px; position: relative; float: left;}
.main .main_top li i{display: block; width: 30px; height: 30px; border-radius:100%; line-height: 30px; text-align: center; background: #e5e5e5; font-style:normal; color: #878787; margin:0 auto;}
.main .main_top li span{ margin-top: 10px; display: inline-block;}
.main .main_top li:before{content:"" ; position:absolute; top: 15px; right: -18%; width: 38%; height: 9px; background: url(../images/shoppingMall-top.png) no-repeat; background-size: 100% 100%;}
.main .main_top li:last-child:before{ background:none;}
.main .main_top li.current i{ color: #fff; background: #FD7C69;}

.main .main_down{ width: 100%; height: auto; margin-top: 20px; padding-top: 50px; background: #fff;}
.main .main_down div.zhong{width: 80%; height: 400px; margin:0 auto; font-size: 16px; letter-spacing: 2px; line-height: 25px; padding:0 15px; border:1px solid #ccc; overflow: hidden; transition: 2s;}
.main .main_down div.clickStart{text-align: center; font-size: 24px; margin-top: 10px; cursor: pointer;}
.main .main_down div.clickStart span{display: inline-block; padding-top: 10px;}
.main .main_down div.stop{text-align: center; font-size: 24px; display: none; margin-top: 10px; cursor: pointer;}
.main .main_down div.stop span{display: inline-block; padding-bottom: 10px;}
.main .main_down p{ height: 80px; line-height: 80px; text-align: left; padding-left: 140px; font-size: 18px;}
.main .main_down p label{cursor: pointer;}
.main .main_down p input{ width: 20px; height: 20px; vertical-align: middle; margin-right: 10px;}

.zhedang{width: 100%; background: rgba(0,0,0,.4); position:fixed; top: 0; left: 0; display: none;}
.wai{width: 100%; position:fixed; top: 0; left: 0; display: none;}
.tanchu{ width: 400px; height: 365px; background: #fff; margin:150px auto; border-radius: 8px;}
.tanchu .top{ width: 100%; height: 80px; line-height: 80px; text-align: center; letter-spacing: 2px; border-bottom:1px solid #E5E5E5; position:relative;}
.tanchu .top h1{ font-weight: 400; font-size: 28px;}
.tanchu .top span{display: inline-block; position:absolute; top: -20px; right: 15px; font-size: 18px; cursor: pointer; color: #B5B5B5;}
.tanchu .down{height: 268px; margin-top: 15px;}
.tanchu .down ul{ padding-bottom: 15px; border-bottom:1px solid #E5E5E5;}
.tanchu .down li{ width: 250px; height: 45px; line-height: 45px; margin-left: 70px; padding-left: 30px; font-size: 16px; margin-bottom: 10px; border:1px solid #e5e5e5; border-radius: 8px; cursor: pointer;}
.tanchu .down li i{ color: #f00; font-style:normal; font-size: 20px; display: inline-block; margin:0 10px 0 20px; position:relative;}
.tanchu .down ul p{ width: 400px; margin-top: -5px;}
.tanchu .down ul p img{ padding:3px 10px; border-radius:5px; border:1px solid #ccc; cursor: pointer;}
.tanchu .down ul p.active img{ border:1px solid #666;}
.tanchu .down ul p span{display: inline-block; width: 120px; font-size: 22px; text-align: right; letter-spacing: 2px;}
.tanchu .down ul p i{ color: #f00; font-style:normal; font-size: 26px; display: inline-block; margin:0 10px 0 20px; position:relative;}
.tanchu .down ul p i img{vertical-align: bottom; background: #fff;}
.tanchu .down ul p i strong{width: 20px; height: 20px; line-height: 20px; text-align: center; color: #fff; border-radius:100%; font-size: 12px; position:absolute; top: 4px; right: -8px; display: inline-block; background: #0f0; display: none;}
.tanchu .down p{width: 100%; text-align: center; margin-top: 10px; line-height: 60px;}
.tanchu .down p button{padding:10px 40px; border-radius:5px; background: #F5495E; color: #fff; border:none; cursor: pointer;}
.tanchu .down p button:hover{background: #fff; color: #000; border:1px solid #ccc;}

.tanchu .down li strong{display: none;}
.tanchu .down li.active1{ width: 250px ; padding:0 15px; margin-left: 70px; border-radius:5px; border:1px solid #666;}
.tanchu .down li.active1 strong{ padding-right: 10px; color: #f00;}
/* .tanchu .down li.active1 strong input[type='radio']{margin: 3px 3px 0px 5px; display: none;} */